.titre
{
    font-size: 5rem;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-family: "Comic sans MS";
}

.article
{
    cursor: pointer;
    min-height:  100px;
}

.piece
{
    cursor: pointer;
}

.nav-link
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title
{
    background-color: rosybrown;
}
.bg-red
{
    background-color: red;
}
.display-none
{
    display: none;
}