body
{
    background-image: url("/img/planeta.jpg");
    
    background-size: cover;
    font-family: 'Segoe Print';
    color: #fff;

   
}
.colorLinkNav
{
    color: white;
}

.navbar > a:hover
{
    color: rgb(199, 199, 199);
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

.divMain
{
    height: 500px; 
    margin-top: 150px;
}
.spanContent
{
    font-family: 'Segoe Print';
    font-size: 3rem;
}

.borderTop
{
    border-top: red 1px solid;
}

.photo
{
    border-radius: 20px;
    border: 0.3em solid #fff;
}


