body
{
    background-image: url("/img/planeta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: rgb(34, 51, 80);
    color: #fff;
   
}
.colorLinkNav
{
    color: white;
}

.nav > a:hover
{
    color: rgb(199, 199, 199);
    text-transform: uppercase;
    text-decoration: underline;
}

.divMain
{
    height: 500px; 
    margin-top: 150px;
}
.spanContent
{
    font-family: 'Segoe Print';
    font-size: 4rem;
}


